</div>
<section id="footer" class="footer">
    <div class="container">
        <p>Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved | This website is made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i>.</p>
    </div>
</section>
</body>
</html>