<%- include("partials/header") %> 

<section id="about" class="about">
    <div class="container">
        <h1>About the Developer</h1>
        <img src="img/rashmi.png" alt="Rashmi Raj">
        <div>
            <ul>
                <li>As a Front End Developer, I tried to make this web application more presentable and beautiful with the help of HTML, CSS, BOOTSTRAP and JavaScript.</li>
                <li>As a Database Programmer, I tried to attached this web application with NoSQL "MongoDB" database, Implemented CRUD (Create, Read, Update and Delete) operations for the blogs posted by the user.</li>
                <li>As a backend developer, I have worked in creating a server for this web application, Created routes (GET, POST, UPDATE, DELETE) and provided their functionality, rendered HTML pages on routes, deployed the web application on an online service provided by Heroku.</li>
            </ul>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 
