<%- include("partials/header") %> 

<section id="contact" class="contact">
    <div class="container">
        <h1>Contact the Developer</h1>
        <img src="img/rashmi.png" alt="Rashmi Raj">
        <div class="row">
            <div class="col-lg-6">
                <i class="fab fa-github icons"></i>
                <h5><a href="https://github.com/rashmiraj513">github.com/rashmiraj513</a></h5>
            </div>
            <div class="col-lg-6">
                <i class="fab fa-linkedin-in icons"></i>
                <h5><a href="https://www.linkedin.com/in/rashmi-raj-62b6761b7/">Rashmi Raj</a></h5>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-6">
                <i class="fas fa-phone-volume icons"></i>
                <h5 style="color: red;">Currently Not Available.</h5>
            </div>
            <div class="col-lg-6">
                <i class="fas fa-envelope icons"></i>
                <h5><a href="mailto:rashmiraj7877@gmail.com">rashmiraj7877@gmail.com</a></h5>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 
